.App {
  padding: 25px;
  height: 100vh;
  position: relative;
  width: 400px;
  background-color: rgb(252, 197, 135);
}

h1 {
  color: #d43333;
}

ul {
  margin: 25px auto;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  text-align: left;
  list-style: none;
  background-color: bisque;
  width: fit-content;
  padding: 3.5px 15px;
  margin: 5px;
  border-radius: 5px;
  max-width: 80%;
}

.currentUser {
  align-self: end;
  margin-right: 35px;
}

p {
  display: inline-block;
  margin-right: 25px;
  max-width: 80%;
}

small {
  font-size: 9px;
  user-select: none;
}

.msgInput {
  position: absolute;
  bottom: 10px;
  border: 0;
  background-color: bisque;
  padding: 10px 20px;
  border-radius: 5px;
  width: 315px;
}

label {
  position: absolute;
  top: 0px;
  padding: 5px 1.5px;
  right: 125px;
  font-size: 13px;
  color: transparent;
  user-select: none;
}

.nameInput {
  position: absolute;
  top: 0px;
  right: 0;
  border: 0;
  background-color: bisque;
  padding: 5px 20px;
  border-bottom-left-radius: 15px;
  width: 115px;
}