.App {
  padding: 25px;
  height: 100vh;
  position: relative;
  width: 400px;
  background-color: rgb(252, 197, 135);
}

h1 {
  color: #d43333;
}

ul {
  margin: 25px auto;
  height: 75vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

li {
  text-align: left;
  list-style: none;
  background-color: bisque;
  width: fit-content;
  padding: 3.5px 15px;
  margin: 5px;
  border-radius: 5px;
  max-width: 80%;
}

p {
  display: inline-block;
  margin-right: 25px;
  max-width: 80%;
}

small {
  font-size: 9px;
}

input {
  position: absolute;
  bottom: 10px;
  border: 0;
  background-color: bisque;
  padding: 10px 20px;
  border-radius: 5px;
  width: 300px;
}